        body,
        html {
            margin: 0;
            color: white;
        }

        body {
            background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/50de97e7-23ad-496e-89f3-1a710c5b4a4d/d5a2o6h-b2e36498-70d7-4317-85ef-5a5e4dd84b8f.jpg/v1/fill/w_1920,h_1200,q_75,strp/windows_8_pro_start_wallpaper_2_by_brebenel_silviu-d5a2o6h.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl0sIm9iaiI6W1t7InBhdGgiOiIvaS81MGRlOTdlNy0yM2FkLTQ5NmUtODlmMy0xYTcxMGM1YjRhNGQvZDVhMm82aC1iMmUzNjQ5OC03MGQ3LTQzMTctODVlZi01YTVlNGRkODRiOGYuanBnIiwid2lkdGgiOiI8PTE5MjAiLCJoZWlnaHQiOiI8PTEyMDAifV1dfQ.s9pOsQcgDHg96Uc8vX09CqwCpDjFAE2f33mmvvilVkI");
            background-size: cover;
            background-color: rgb(10, 65, 10);
            font-family: Arial;
            font-size: 0.7em;
            background-attachment: fixed;
        }

        div.top {
            font-family: "open sans", arial, helvetica, "sans-serif";
            font-size: 3.3em;
            color: white;
            position: relative;
            margin-top: 2.6%;
            margin-bottom: 4%;
            margin-left: 11%;
            margin-right: 1%;
        }

        div.top span {
            position: absolute;
            right: 15px;
        }

        div.top span img {
            float: right;
            margin: 10px;
            margin-top: 10px;
            padding: 3px 2px;
            padding-bottom: 0;
            background-color: rgb(209, 204, 204);
            width: 32px;
            height: 33px;
        }

        div.bottom {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            margin-left: 10%;
        }

        div.flex>div {
            box-sizing: border-box;
            text-align: center;
            width: 230px;
            height: 120px;
            margin: 5px;
            padding: 10px;
            /* background-color: indianred; */
            position: relative;

            /* important */
            /* -webkit-transition: -webkit-transform 0.12s; */
            /* transition-property: transform;
            transition-delay: 0.12s; */
            transition: transform .2s;

        }

        div.flex>div:hover {
            transform: scale(1.05);

            /* width: 250px;
            box-shadow: 5px 5px 5px black;
            height: 140px; */
        }

        div.flex {
            display: flex;
            flex-flow: column wrap;
            /* justify-content: space-between; */

        }

        /* -----------------text------------------ */

        div.bottom div.flex div span.text {
            font-family: "open sans";
            font-size: 0.9em;
            position: absolute;
            left: 7px;
            bottom: 5px;
        }


        div.bottom div.flex1 div.a1,
        div.bottom div.flex2 div.b1 {
            background-color: rgb(23, 133, 133);
        }

        div.bottom div.flex1 div.a2,
        div.bottom div.flex3 div.c1 {
            background-color: #cc6633;
        }

        div.bottom div.flex1 div.a3 {
            background-color: #990099;
        }

        div.bottom div.flex1 div.a5 {
            background-color: #6633cc;
        }

        div.bottom div.flex1 div.a4 {
            background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffc05.deviantart.net%2Ffs70%2Ff%2F2013%2F238%2Fe%2F0%2Fdefault_wallpaper_build_9600___vetor_hd_by_gabrielx86-d6jtosc.jpg&f=1&nofb=1");
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        /* div.bottom div.flex1 div.a4 span {
            position: absolute;
            left: 7px;
            bottom: 7px;
        } */

        div.bottom div.flex2 div.b2,
        div.bottom div.flex3 div.c2 div.c12 {
            background-color: #cc3333;
        }

        div.bottom div.flex2 div.b3,
        div.bottom div.flex3 div.c3 div.c31 {
            background-color: #3399ff;
        }

        div.bottom div.flex3 div.c2 {
            display: flex;
            justify-content: space-between;
            /* flex: 1 1 100px; */
            background-color: inherit;
            /* margin-top: -2px; */
            padding: 0;
            /* background-color: grey; */

        }

        div.bottom div.flex3 div.c2:hover {
            box-shadow: none;
            transform: none;
        }

        div.bottom div.flex3 div.c11,
        div.bottom div.flex3 div.c12 {
            box-sizing: border-box;
            /* margin: 5px; */
            height: 118px;
            width: 110px;
            padding: 10px;
            position: relative;
            /* -webkit-transition: -webkit-transform 0.12s; */
            /* transition-property: transform;
            transition-delay: 0.12s; */
            transition: transform .2s;


        }

        div.bottom div.flex3 div.c2 div.c11,
        div.bottom div.flex3 div.c3 div.c32 {
            background-color: #009900;
        }

        div.bottom div.flex3 div.c11:hover,
        div.bottom div.flex3 div.c12:hover {
            transform: scale(1.05);

            /* box-shadow: 5px 5px 5px black;
            transform: rotateY(10deg); */
        }

        div.bottom div.flex>div img {
            padding-top: 10px;
            width: 70px;
            height: 70px;
        }

        div.bottom div.flex div.c3 {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            padding: 0;
        }

        div.bottom div.flex div.c3:hover {
            transform: none;
        }

        div.bottom div.flex div.c3>div {
            position: relative;
        }

        div.bottom div.flex3 div.c31,
        div.bottom div.flex3 div.c32 {
            box-sizing: border-box;
            height: 118px;
            width: 110px;
            padding: 10px;
            position: relative;
            /* -webkit-transition: -webkit-transform 0.12s; */
            /* transition-property: transform;
            transition-delay: 0.12s; */
            transition: transform .2s;

        }

        div.bottom div.flex3 div.c31:hover,
        div.bottom div.flex3 div.c32:hover {
            transform: scale(1.05);
        }

        div.footer {
            margin-top: 5%;
            padding: 10px;
            background-color: white;
            color: black;
        }

        div.footer div.heading {
            margin: 10px 5px;

            font-size: 1.2em;
        }
