body,
html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

body {
  background: url("../files/156689-download-white-gradient-background-2447x1468-1080p.jpg")
    no-repeat;
  background-size: cover;
}

.top p:first-child {
  font-size: 3em;
  margin: 3% auto 0.5% auto;
}

.top p:nth-child(2){
  margin: 1% auto 3% auto;
  font-size: 15px;
}

.bottom div.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

img {
  width: 370px;
  height: 230px;
  border: 1.5px solid black;
}

img:hover{
  opacity: 0.8;
}

.flex div.box {
  /* flex: 1 1 0; */
  margin: 20px;
}
